<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="icon" href="/images/favicon.png">
    <link rel='stylesheet' href='/stylesheets/bootstrap.min.css' />
    <link rel="stylesheet" href="/stylesheets/custom.min.css" />
    <script src="./javascripts/navbar.js"></script>
  </head>
  <body>
  <%- include('navbar.ejs', {active: 'search'}) %>
  <div class="container">
    <form action="searchClass" method="get">
      <legend>Search class</legend>
      <div class="form-group row">
        <label class="col-sm-2 col-form-label">開課年度</label>
        <div class="col-sm-10">
          <select name="year" class="custom-select">
            <option value="all">ALL</option>
            <% for(let i=1; i<data[0].length; i++) { %>
            <option value='<%= data[0][i] %>'><%= data[0][i] %></option>
            <% } %>
          </select>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-sm-2 col-form-label">開課系所</label>
        <div class="col-sm-10">
          <select name="department" class="custom-select">
            <option value="all">ALL</option>
            <% for(let i=0; i<data[1].length; i++) { %>
            <option value='<%= data[1][i] %>'><%= data[1][i] %></option>
            <% } %>
          </select>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-sm-2 col-form-label">課程名稱</label>
        <div class="col-sm-10">
          <input type="text" name="classname" class="form-control">
        </div>
      </div>
      <div class="form-group row">
        <label class="col-sm-2 col-form-label">任課教師</label>
        <div class="col-sm-10">
          <input type="text" name="teachername" class="form-control">
        </div>
      </div>
      <div class="form-group row">
        <button type="submit" class="btn btn-outline-primary col-sm-12">Search class!</button>
      </div>
    </form>

    <% if (typeof error != 'undefined') { %>
    <h1 class="text-danger text-center"><%= error %></h1>
    <% } %>

    <% if (typeof searchData != 'undefined') { %>
      <div class="row">
        <% for(var i=0; i<searchData.length; i++) { %>
          <div id="search<%= i %>" class="col-sm-6 row-margin-top">
            <div class="card">
              <div class="card-header" id="heading<%= i %>">
                <h5>
                  <legend>
                    <%= searchData[i].year + " " + searchData[i].department + " " + searchData[i].classname + " " + searchData[i].teachername %>
                  </legend>
                  <p>獲得分數：<%= searchData[i].getscore %>,
                     推薦指數：<%= searchData[i].recommendscore %>,
                     學習指數：<%= searchData[i].learnscore %>,
                     涼課指數：<%= searchData[i].coolscore %>
                  </p>
                  <div class="d-flex">
                    <div>
                      <img src="./images/like.png" /> <%= searchData[i].like %>
                      <img src="./images/dislike.png" /> <%= searchData[i].dislike %>
                    </div>
                    <button class="btn btn-link btn ml-auto" data-toggle="collapse" data-target="#collapse<%= i %>" aria-expanded="false" aria-controls="collapse<%= i %>">
                      看評價
                    </button>
                  </div>
                </h5>
              </div>
              <div id="collapse<%= i %>" class="collapse" aria-labelledby="heading<%= i %>" data-parent="#search<%= i %>">
                <div class="card-body">
                  <h5><%= searchData[i].experience %></h5>
                </div>
              </div>
            </div>
          </div>
        <% } %>
      </div>
    <% } %>
  </div>

  <%- include footer.ejs %>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  <script>
    $('form[action=searchClass]').submit((e) =>{
      if ($.cookie('x-access-token')) {

      }
    });
  </script>
  </body>
</html>
