<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="icon" href="/images/favicon.png">
    <link rel='stylesheet' href='/stylesheets/bootstrap.min.css' />
    <link rel="stylesheet" href="/stylesheets/custom.min.css" />
    <script src="./javascripts/navbar.js"></script>
  </head>
  <body>
  <div class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark">
    <div class="container">
      <a class="navbar-brand" href="/"><%= title %></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="share">Share</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="search">Search</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="question">Question</a>
          </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
          <a href="/login" class="btn btn-secondary my-2 my-sm-0">Login</a>
        </form>
      </div>
    </div>
  </div>
  <div class="container">
    <form action="searchClass" method="post">
      <legend>Search class</legend>
      <div class="form-group row">
        <label class="col-sm-2 col-form-label">開課年度</label>
        <div class="col-sm-10">
          <select name="year" class="custom-select">
            <option value="all">ALL</option>
            <% for(let i=1; i<data[0].length; i++) { %>
            <option value='<%= data[0][i] %>'><%= data[0][i] %></option>
            <% } %>
          </select>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-sm-2 col-form-label">開課系所</label>
        <div class="col-sm-10">
          <select name="department" class="custom-select">
            <option value="all">ALL</option>
            <% for(let i=0; i<data[1].length; i++) { %>
            <option value='<%= data[1][i] %>'><%= data[1][i] %></option>
            <% } %>
          </select>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-sm-2 col-form-label">課程名稱</label>
        <div class="col-sm-10">
          <input type="text" name="classname" class="form-control">
        </div>
      </div>
      <div class="form-group row">
        <label class="col-sm-2 col-form-label">任課教師</label>
        <div class="col-sm-10">
          <input type="text" name="teachername" class="form-control">
        </div>
      </div>
      <div class="form-group row">
        <button type="submit" class="btn btn-outline-primary col-sm-12">Search class!</button>
      </div>
    </form>
  </div>
  <%- include footer.ejs %>
  </body>
</html>
